body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

li{
    cursor: pointer;
    list-style: none;
    padding: 30px 20px;
}
li:hover{
    background-color: rgb(255, 225, 127);;
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}

h1{
    margin-top: 10px;
    text-align: center;
}
.formContainer form{
    width: 60vw;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.formContainer{
    display: flex;
    justify-content: center;
}

form input,textarea{
    border-radius: 8px;
    border: 1px solid gray;
}


form button{
    align-self: center;
    background-color: rgb(255, 225, 127);
    border-radius: 8px;
    border: 0px;
    padding: 10px 30px;
}
form button:hover{
    transition: 200ms;
    background-color: rgb(74, 74, 74);
    color: white;
}
.bookPhoto{
    background-image: url(./img/book.webp);
    width: 100%;
    height: 200px;
    background-position: center;
    background-size: cover;
    border-radius: 8px;
}
.bookInfo{
    width: 100%;
}
.cardBook{
    border: 1px solid black;
    border-radius: 8px;
    text-align: center;
    background-color: gray;
    flex-wrap: wrap;
    min-width: 250px;
}

.cardsContainer{
    width: 80vw;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    
    gap: 30px;
    margin-bottom: 50px;
}
